In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Download Citi stock ticker data
citi = yf.download('C', start='2019-01-01', end='2024-12-31', interval='1wk')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [3]:
# Preview first few rows
citi.head()

Price           Close       High        Low       Open     Volume
Ticker              C          C          C          C          C
Date
2019-01-01  44.022671  44.497649  40.112005  40.119923   87668500
2019-01-08  46.650890  46.943793  43.349782  44.355156  112980100
2019-01-15  49.967827  50.023241  47.141700  47.410855  112999300
2019-01-22  50.545727  51.020705  48.408322  49.611600   84901400
2019-01-29  50.711956  51.250266  49.864913  50.434886   77351400

In [4]:
# Save to data folder
citi.to_csv('../data/citi_stock_data.csv')