In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Download Citi stock ticker data
citi = yf.download('C', start='2019-01-01', end='2024-12-31', interval='1wk')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [5]:
# Preview first few rows
citi.head()

Price           Close       High        Low       Open     Volume
Ticker              C          C          C          C          C
Date
2019-01-01  44.022682  44.497660  40.112016  40.119934   87668500
2019-01-08  46.650887  46.943790  43.349779  44.355152  112980100
2019-01-15  49.967827  50.023241  47.141700  47.410855  112999300
2019-01-22  50.545731  51.020709  48.408325  49.611604   84901400
2019-01-29  50.711952  51.250262  49.864909  50.434882   77351400

In [6]:
# Save to data folder
citi.to_csv('../data/citi_stock_data.csv')