In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller

In [ ]:
# load CSV
df = pd.read_csv('../data/citi_stock_data.csv')
df_raw = pd.read_csv('../data/citi_stock_data.csv', header=[0,1])

print(df_raw.columns)
df_raw.head()

# closing price
# df = df[['Close']]
# df.rename(columns={'Close': 'Close_C'}, inplace=True)
# df.head()

MultiIndex([( 'Price', 'Ticker'),
            ( 'Close',      'C'),
            (  'High',      'C'),
            (   'Low',      'C'),
            (  'Open',      'C'),
            ('Volume',      'C')],
           )

        Price      Close       High        Low       Open       Volume
       Ticker          C          C          C          C            C
0        Date        NaN        NaN        NaN        NaN          NaN
1  2019-01-01  44.022671  44.497649  40.112005  40.119923   87668500.0
2  2019-01-08  46.650890  46.943793  43.349782  44.355156  112980100.0
3  2019-01-15  49.967827  50.023241  47.141700  47.410855  112999300.0
4  2019-01-22  50.545727  51.020705  48.408322  49.611600   84901400.0

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df['Close_C'], label='Citi Closing Price')
plt.title('Citi (C) Weekly Closing Prices (2019–2024)')
plt.xlabel('Date')
plt.ylabel('Price ($)')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
df['Rolling Mean (12w)'] = df['Close_C'].rolling(window=12).mean()
df['Rolling Std (12w)'] = df['Close_C'].rolling(window=12).std()

plt.figure(figsize=(12, 6))
plt.plot(df['Close_C'], label='Citi Close')
plt.plot(df['Rolling Mean (12w)'], label='12-week Rolling Mean')
plt.plot(df['Rolling Std (12w)'], label='12-week Rolling Std')
plt.title('Rolling Mean & Std Dev of Citi Weekly Closing Price')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
result = adfuller(df['Close_C'].dropna())

print("ADF Statistic: {:.4f}".format(result[0]))
print("p-value: {:.4f}".format(result[1]))

if result[1] < 0.05:
    print("→ Data is stationary (good for ARIMA)")
else:
    print("→ Data is NOT stationary — differencing needed for ARIMA")

In [ ]:
plt.figure(figsize=(12, 6))
plt.plot(df['Close_C'])
plt.title('Citi Weekly Close')
plt.savefig('../visuals/citi_closing_price.png')
plt.close()